html {
  background-image: url("/Assets/logo.png") ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size: contain;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  min-height: 80vh;
}

.pickFighter {
  background-color: rgba(159,57,49,0.95);
  border: solid black;
}

.carousel {
  height: 220px;
}

.carousel-item {
  border: solid #ffd600;
}

.stats {
  background: linear-gradient(rgba(159,57,49,0.95), rgba(250,214,72,0.95));
  border: solid black;
  margin-bottom: .85rem;
  max-height: 48.5rem;
  max-width: 100%;
  overflow: auto;
}

#statTotal {
  font-size: 16px;
  font-weight: bold;
}

#bio {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

#wikiLink {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.radar-chart .area {
  fill-opacity: 0.5;
}


.pcCol, .footer {
  display: flex;
  flex-direction: column;
}

.footerDiv {
  padding-bottom: 1.25rem;
}
