.gif {
  height: 44px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  min-height: 80vh;
}

.pickFighter {
  background-color: rgba(159,57,49,0.95);
  border: solid black;
}

.carousel {
  height: 250px;
  border: solid black;
  background-color: rgba(159,57,49,0.95);
}

.chart-container {
  /* overflow: hidden; */
  /* border: solid black; */
}

.carousel-item {

  border: solid #ffd600;
}

.radar-chart .area {
  fill-opacity: 0.5;
}


.pcCol, .footer {
  display: flex;
  flex-direction: column;
}

.footerDiv {
  padding-bottom: 1.25rem;
}
