html {
  background-image: url("/Assets/logo.png") ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size: contain;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  min-height: 80vh;
}

.gif {
  height: 44px;
}

.teamPalette {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  margin-bottom: 1rem;
}

.pickFighter {
  background-color: rgba(159,57,49,0.95);
  border: solid black;
}

.pcCol, .footer{
  display: flex;
  flex-direction: column;
}

form {
  margin-bottom: .85rem;
  background-color: rgba(159,57,49,0.95);
  border: solid black;
}

.teamForm {
  padding: 1rem;
}

#PC, #Alt1, #Alt2 {
  max-height: 7rem;
  border: solid #ffd600;
}

.charImg {
  max-height: 150px;
  max-width: auto;
  border: solid #ffd600;
}

.characterPalette {
  background-color: rgba(159,57,49,0.95);
  margin-bottom: .85rem;
  max-height: 11.4rem;
  max-width: 100%;
  border: solid black;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  overflow: auto;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 1rem;
}

.ps4 {
   max-width: 70%;
   max-height: auto;
}

.xbox{
  max-width: 70%;
  max-height: auto;
}

.controllerImg {
  background-color: rgba(159,57,49,0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: .85rem;
}

#controlScheme {
  max-width: 100%;
	height: auto;
}

.tableDiv {
  max-height: 47vh;
  max-width: 100%;
  background-color: rgba(159,57,49,0.95);
  overflow: auto;
}

.addBorder, th, td {
  border: solid black;
}

.addFrame {
  padding: .25rem;
}

.footerDiv {
  padding-bottom: 1.25rem;
}

#footerLogo {
  max-height: 3rem;
}

.collapsible-body {
  background-color: rgba(159,57,49,0.95);
  border: solid black;
  border-top: none;
}

ul.browser-default li {
  list-style-type: initial;
}

#dballz {
  max-height: 2rem;
}

.tips {
  background-color: rgba(159,57,49,0.95);
  margin-top: 1rem;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}

.seeTeams {
  background-color: rgba(159,57,49,0.95);
  border: solid black;
  padding: 1rem;
  margin-bottom: .85rem;
}

.collapsible-header {
  border: solid black;
  margin-top: 1rem;
}

.video-container {
  background-color: rgba(159,57,49,0.95);
  border: solid black;
}

.record {
  padding-left: .75rem;
}
