header {
  display: flex;
  justify-content: center;
}

.background {
  background: url("/Assets/logo.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

.charImg {
  max-height: 150px;
  max-width: 150px;
}
form {
  margin-top: .5rem;
  background-color: rgba(159,57,49,0.95);
  border: solid black;
}

input,
textarea {
  color: white;
}

.charDiv {
  display: flex;
  justify-content: center;
}

.characterPalette {
  max-height: 12rem;
  width: 35rem;
  border: solid black;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  overflow: scroll;
}

footer {
color: rgba(159,57,49,0.95);
}
